p {
  text-align: center;
}
h1 {
  text-align: center;
}
h2,
h3 {
  background-color: rgb(174, 174, 228);
}
h1,
h2,
h3 {
  color: blue;
}
h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  text-align: justify;
}
body {
  background-color: pink;
}
